@import "./_config.scss";

body,
#root {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: $body;
  text-align: center;
  animation: bgFadeIn 2s;
  overflow: hidden;
  flex-wrap: nowrap;
}

main,
section {
  @extend %flex-display;
  @extend %max-size;
  flex-direction: column;
}

div {
  @extend %flex-display;
  &.column {
    flex-direction: column;
  }
  //confirm
  &.confirmText {
    height: 25vh;
    z-index: 1;
  }
  //title
  &.titleEdge {
    min-height: 12.5vh;
    min-width: 100vw;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    animation: colorChange 4s 10s linear infinite;
    position: absolute;
    top: 0;
  }
  &.titleCenter {
    top: 12.5vh;
    height: 75vh;
    width: 100vw;
    background: transparent;
  }
}

button {
  background: transparent;
  border: 2px solid black;
  border-radius: 0.875rem;
  padding: 10px;
  transition-property: color, border;
  transition-duration: 0.25s;
  &:hover {
    color: $yurple;
    border: 2px solid $yurple;
    cursor: pointer;
  }
  &.bigButt {
    @extend %title-text;
    width: 30vw;
    font-size: 4vw;
    text-align: center;
  }
}

//text
h1 {
  @extend %title-text;
  &.welcome {
    z-index: 0;
    font-size: 15vw;
    position: fixed;
  }
  &.titleHeaders {
    font-size: 5vw;
  }
}
